In [1]:
import pandas as pd
customer=pd.read_csv('C:/Users/vipul/Downloads/Table.1--customers.csv')
customer

,customer_id,customer_name,city,phone_number,email,registration_date
0,1,Rajesh Sharma,Mumbai,9876543210,rajesh.sharma@gmail.com,15-01-2022
1,2,Priya Singh,Delhi,8765432109,priya.singh@yahoo.com,20-11-2021
2,3,Amit Gupta,Bengaluru,7654321098,amit.gupta@hotmail.com,10-05-2020
3,4,Rakesh Kumar,Kolkata,6543210987,rakesh.kumar@rediffmail.com,25-03-2023
4,5,Neha Mehta,Jaipur,5432109876,neha.mehta@gmail.com,05-09-2019
5,6,Anjali Desai,Pune,9876054321,anjali.desai@gmail.com,23-05-2021
6,7,Vivek Malhotra,Hyderabad,8765943212,vivek.malhotra@yahoo.com,18-12-2020
7,8,Simran Kapoor,Chennai,7654823091,simran.kapoor@gmail.com,08-01-2023
8,9,Karan Patel,Ahmedabad,6543709875,karan.patel@hotmail.com,12-04-2018
9,10,Deepika Jain,Lucknow,5432608769,deepika.jain@gmail.com,15-06-2022
10,11,Suresh Yadav,Bhopal,9876543202,suresh.yadav@gmail.com,10-09-2021
11,12,Pooja Roy,Patna,8765432190,pooja.roy@hotmail.com,28-11-2020
12,13,Manish Sinha,Thane,7654321021,manish.sinha@gmail.com,16-07-2019
13,14,Akash Verma,Gurgaon,6543210876,akash.verma@yahoo.com,25-04-2022
14,15,Sneha Dubey,Nagpur,5432109765,sneha.dubey@hotmail.com,02-05-2023
15,16,Rohit Rathore,Surat,9876543021,rohit.rathore@gmail.com,15-03-2021
16,17,Meena Chawla,Kanpur,8765432980,meena.chawla@hotmail.com,20-10-2020
17,18,Varun Shetty,Coimbatore,7654321209,varun.shetty@gmail.com,30-06-2019
18,19,Ankita Rao,Indore,6543210976,ankita.rao@gmail.com,12-09-2022
19,20,Arjun Iyer,Vadodara,5432109786,arjun.iyer@hotmail.com,18-02-2023
20,21,Kavita Kaur,Noida,9876543232,kavita.kaur@gmail.com,19-02-2021
21,22,Santosh Pillai,Varanasi,8765432931,santosh.pillai@yahoo.com,21-12-2020
22,23,Sunil Reddy,Mysuru,7654321342,sunil.reddy@gmail.com,07-08-2018
23,24,Alok Tiwari,Jodhpur,6543210452,alok.tiwari@hotmail.com,10-10-2022
24,25,Kavya Bose,Ranchi,5432109751,kavya.bose@yahoo.com,14-06-2023
25,26,Ritu Saxena,Raipur,9876543562,ritu.saxena@gmail.com,17-07-2021
26,27,Pankaj Chauhan,Ghaziabad,8765432991,pankaj.chauhan@hotmail.com,23-09-2020
27,28,Aarti Deshmukh,Aurangabad,7654321071,aarti.deshmukh@gmail.com,12-11-2019
28,29,Ajay Thakur,Nashik,6543210998,ajay.thakur@yahoo.com,05-05-2022
29,30,Ishita Goswami,Faridabad,5432109832,ishita.goswami@gmail.com,11-07-2023
30,31,Neeraj Shukla,Rajkot,9876543113,neeraj.shukla@gmail.com,15-01-2021
31,32,Shalini Ghosh,Kochi,8765432777,shalini.ghosh@yahoo.com,09-03-2020
32,33,Vikram Joshi,Gwalior,7654321901,vikram.joshi@gmail.com,21-02-2019
33,34,Abhishek Dutta,Bhubaneshwar,6543210912,abhishek.dutta@gmail.com,08-08-2022
34,35,Suman Bhatia,Ludhiana,5432109099,suman.bhatia@yahoo.com,30-03-2023
35,36,Tarun Chauhan,Madurai,9876543788,tarun.chauhan@gmail.com,13-05-2021
36,37,Preeti Nair,Agra,8765432876,preeti.nair@gmail.com,01-12-2020
37,38,Kiran Rao,Vellore,7654321432,kiran.rao@gmail.com,18-06-2019
38,39,Sheetal Pathak,Dehradun,6543210666,sheetal.pathak@gmail.com,20-11-2022
39,40,Rohan Chopra,Amritsar,5432108777,rohan.chopra@gmail.com,27-01-2023

In [6]:
order=pd.read_csv('C:/Users/vipul/Downloads/Table.2--orders.csv')
order

    order_id  customer_id  order_date  order_amount delivery_city payment_mode
0        101            1  10-01-2023          1500        Mumbai  Credit Card
1        102            2  14-02-2023          2500         Delhi   Debit Card
2        103            3  21-12-2022          1200     Bengaluru         Cash
3        104            4  30-03-2023          1800       Kolkata          UPI
4        105            1  20-11-2022          2000        Mumbai  Net Banking
5        106            6  12-04-2023          3500          Pune  Credit Card
6        107            7  15-10-2022          2700     Hyderabad   Debit Card
7        108            8  22-06-2023          2200       Chennai          UPI
8        109            9  08-08-2022          1400     Ahmedabad  Credit Card
9        110           10  19-05-2023          1900       Lucknow         Cash
10       111           11  21-09-2022          3000        Bhopal  Credit Card
11       112           12  28-02-2023          2400         Patna  Net Banking
12       113           13  12-03-2023          2600         Thane   Debit Card
13       114           14  05-07-2022          1800       Gurgaon          UPI
14       115           15  18-04-2023          2300        Nagpur  Credit Card
15       116           16  23-06-2021          1600         Surat  Net Banking
16       117           17  01-02-2023          2900        Kanpur         Cash
17       118           18  17-12-2022          2100    Coimbatore   Debit Card
18       119           19  25-08-2022          1200        Indore          UPI
19       120           20  09-01-2023          4000      Vadodara  Credit Card
20       121           21  02-11-2022          3100         Noida   Debit Card
21       122           22  24-04-2023          3400      Varanasi  Credit Card
22       123           23  13-10-2021          2900        Mysuru          UPI
23       124           24  29-09-2022          2400       Jodhpur  Net Banking
24       125           25  20-06-2023          2200        Ranchi  Credit Card
25       126           26  09-05-2021          1700        Raipur          UPI
26       127           27  18-03-2022          1800     Ghaziabad         Cash
27       128           28  14-07-2023          2800    Aurangabad  Net Banking
28       129           29  23-12-2022          3500        Nashik  Credit Card
29       130           30  22-05-2023          2100     Faridabad   Debit Card
30       131           31  19-11-2022          3300        Rajkot          UPI
31       132           32  06-12-2021          1500         Kochi  Net Banking
32       133           33  15-04-2023          2300       Gwalior  Credit Card
33       134           34  29-06-2022          2700  Bhubaneshwar   Debit Card
34       135           35  05-02-2023          3000      Ludhiana          UPI
35       136           36  07-07-2022          2600       Madurai  Net Banking
36       137           37  31-03-2023          1900          Agra  Credit Card
37       138           38  17-08-2021          1600       Vellore   Debit Card
38       139           39  01-09-2022          3200      Dehradun          UPI
39       140           40  25-06-2023          2500      Amritsar  Net Banking

In [11]:
customer_order=pd.merge(order,customer,on='customer_id')
customer_order

,order_id,customer_id,order_date,order_amount,delivery_city,payment_mode,customer_name,city,phone_number,email,registration_date
0,101,1,10-01-2023,1500,Mumbai,Credit Card,Rajesh Sharma,Mumbai,9876543210,rajesh.sharma@gmail.com,15-01-2022
1,102,2,14-02-2023,2500,Delhi,Debit Card,Priya Singh,Delhi,8765432109,priya.singh@yahoo.com,20-11-2021
2,103,3,21-12-2022,1200,Bengaluru,Cash,Amit Gupta,Bengaluru,7654321098,amit.gupta@hotmail.com,10-05-2020
3,104,4,30-03-2023,1800,Kolkata,UPI,Rakesh Kumar,Kolkata,6543210987,rakesh.kumar@rediffmail.com,25-03-2023
4,105,1,20-11-2022,2000,Mumbai,Net Banking,Rajesh Sharma,Mumbai,9876543210,rajesh.sharma@gmail.com,15-01-2022
5,106,6,12-04-2023,3500,Pune,Credit Card,Anjali Desai,Pune,9876054321,anjali.desai@gmail.com,23-05-2021
6,107,7,15-10-2022,2700,Hyderabad,Debit Card,Vivek Malhotra,Hyderabad,8765943212,vivek.malhotra@yahoo.com,18-12-2020
7,108,8,22-06-2023,2200,Chennai,UPI,Simran Kapoor,Chennai,7654823091,simran.kapoor@gmail.com,08-01-2023
8,109,9,08-08-2022,1400,Ahmedabad,Credit Card,Karan Patel,Ahmedabad,6543709875,karan.patel@hotmail.com,12-04-2018
9,110,10,19-05-2023,1900,Lucknow,Cash,Deepika Jain,Lucknow,5432608769,deepika.jain@gmail.com,15-06-2022
10,111,11,21-09-2022,3000,Bhopal,Credit Card,Suresh Yadav,Bhopal,9876543202,suresh.yadav@gmail.com,10-09-2021
11,112,12,28-02-2023,2400,Patna,Net Banking,Pooja Roy,Patna,8765432190,pooja.roy@hotmail.com,28-11-2020
12,113,13,12-03-2023,2600,Thane,Debit Card,Manish Sinha,Thane,7654321021,manish.sinha@gmail.com,16-07-2019
13,114,14,05-07-2022,1800,Gurgaon,UPI,Akash Verma,Gurgaon,6543210876,akash.verma@yahoo.com,25-04-2022
14,115,15,18-04-2023,2300,Nagpur,Credit Card,Sneha Dubey,Nagpur,5432109765,sneha.dubey@hotmail.com,02-05-2023
15,116,16,23-06-2021,1600,Surat,Net Banking,Rohit Rathore,Surat,9876543021,rohit.rathore@gmail.com,15-03-2021
16,117,17,01-02-2023,2900,Kanpur,Cash,Meena Chawla,Kanpur,8765432980,meena.chawla@hotmail.com,20-10-2020
17,118,18,17-12-2022,2100,Coimbatore,Debit Card,Varun Shetty,Coimbatore,7654321209,varun.shetty@gmail.com,30-06-2019
18,119,19,25-08-2022,1200,Indore,UPI,Ankita Rao,Indore,6543210976,ankita.rao@gmail.com,12-09-2022
19,120,20,09-01-2023,4000,Vadodara,Credit Card,Arjun Iyer,Vadodara,5432109786,arjun.iyer@hotmail.com,18-02-2023
20,121,21,02-11-2022,3100,Noida,Debit Card,Kavita Kaur,Noida,9876543232,kavita.kaur@gmail.com,19-02-2021
21,122,22,24-04-2023,3400,Varanasi,Credit Card,Santosh Pillai,Varanasi,8765432931,santosh.pillai@yahoo.com,21-12-2020
22,123,23,13-10-2021,2900,Mysuru,UPI,Sunil Reddy,Mysuru,7654321342,sunil.reddy@gmail.com,07-08-2018
23,124,24,29-09-2022,2400,Jodhpur,Net Banking,Alok Tiwari,Jodhpur,6543210452,alok.tiwari@hotmail.com,10-10-2022
24,125,25,20-06-2023,2200,Ranchi,Credit Card,Kavya Bose,Ranchi,5432109751,kavya.bose@yahoo.com,14-06-2023
25,126,26,09-05-2021,1700,Raipur,UPI,Ritu Saxena,Raipur,9876543562,ritu.saxena@gmail.com,17-07-2021
26,127,27,18-03-2022,1800,Ghaziabad,Cash,Pankaj Chauhan,Ghaziabad,8765432991,pankaj.chauhan@hotmail.com,23-09-2020
27,128,28,14-07-2023,2800,Aurangabad,Net Banking,Aarti Deshmukh,Aurangabad,7654321071,aarti.deshmukh@gmail.com,12-11-2019
28,129,29,23-12-2022,3500,Nashik,Credit Card,Ajay Thakur,Nashik,6543210998,ajay.thakur@yahoo.com,05-05-2022
29,130,30,22-05-2023,2100,Faridabad,Debit Card,Ishita Goswami,Faridabad,5432109832,ishita.goswami@gmail.com,11-07-2023
30,131,31,19-11-2022,3300,Rajkot,UPI,Neeraj Shukla,Rajkot,9876543113,neeraj.shukla@gmail.com,15-01-2021
31,132,32,06-12-2021,1500,Kochi,Net Banking,Shalini Ghosh,Kochi,8765432777,shalini.ghosh@yahoo.com,09-03-2020
32,133,33,15-04-2023,2300,Gwalior,Credit Card,Vikram Joshi,Gwalior,7654321901,vikram.joshi@gmail.com,21-02-2019
33,134,34,29-06-2022,2700,Bhubaneshwar,Debit Card,Abhishek Dutta,Bhubaneshwar,6543210912,abhishek.dutta@gmail.com,08-08-2022
34,135,35,05-02-2023,3000,Ludhiana,UPI,Suman Bhatia,Ludhiana,5432109099,suman.bhatia@yahoo.com,30-03-2023
35,136,36,07-07-2022,2600,Madurai,Net Banking,Tarun Chauhan,Madurai,9876543788,tarun.chauhan@gmail.com,13-05-2021
36,137,37,31-03-2023,1900,Agra,Credit Card,Preeti Nair,Agra,8765432876,preeti.nair@gmail.com,01-12-2020
37,138,38,17-08-2021,1600,Vellore,Debit Card,Kiran Rao,Vellore,7654321432,kiran.rao@gmail.com,18-06-2019
38,139,39,01-09-2022,3200,Dehradun,UPI,Sheetal Pathak,Dehradun,6543210666,sheetal.pathak@gmail.com,20-11-2022
39,140,40,25-06-2023,2500,Amritsar,Net Banking,Rohan Chopra,Amritsar,5432108777,rohan.chopra@gmail.com,27-01-2023

In [ ]:
order.groupby('order_id').agg(
    {
        'order_amount':['sum','mean',max]
    }
)

C:\Users\vipul\AppData\Local\Temp\ipykernel_19696\1254719832.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  order.groupby('order_id').agg(

         order_amount
                  sum    mean   max
order_id
101              1500  1500.0  1500
102              2500  2500.0  2500
103              1200  1200.0  1200
104              1800  1800.0  1800
105              2000  2000.0  2000
106              3500  3500.0  3500
107              2700  2700.0  2700
108              2200  2200.0  2200
109              1400  1400.0  1400
110              1900  1900.0  1900
111              3000  3000.0  3000
112              2400  2400.0  2400
113              2600  2600.0  2600
114              1800  1800.0  1800
115              2300  2300.0  2300
116              1600  1600.0  1600
117              2900  2900.0  2900
118              2100  2100.0  2100
119              1200  1200.0  1200
120              4000  4000.0  4000
121              3100  3100.0  3100
122              3400  3400.0  3400
123              2900  2900.0  2900
124              2400  2400.0  2400
125              2200  2200.0  2200
126              1700  1700.0  1700
127              1800  1800.0  1800
128              2800  2800.0  2800
129              3500  3500.0  3500
130              2100  2100.0  2100
131              3300  3300.0  3300
132              1500  1500.0  1500
133              2300  2300.0  2300
134              2700  2700.0  2700
135              3000  3000.0  3000
136              2600  2600.0  2600
137              1900  1900.0  1900
138              1600  1600.0  1600
139              3200  3200.0  3200
140              2500  2500.0  2500

In [ ]:
order.count()

order_id         40
customer_id      40
order_date       40
order_amount     40
delivery_city    40
payment_mode     40
dtype: int64

In [ ]:
custsort=customer.sort_values('city')
custsort

,customer_id,customer_name,city,phone_number,email,registration_date
36,37,Preeti Nair,Agra,8765432876,preeti.nair@gmail.com,01-12-2020
8,9,Karan Patel,Ahmedabad,6543709875,karan.patel@hotmail.com,12-04-2018
39,40,Rohan Chopra,Amritsar,5432108777,rohan.chopra@gmail.com,27-01-2023
27,28,Aarti Deshmukh,Aurangabad,7654321071,aarti.deshmukh@gmail.com,12-11-2019
2,3,Amit Gupta,Bengaluru,7654321098,amit.gupta@hotmail.com,10-05-2020
10,11,Suresh Yadav,Bhopal,9876543202,suresh.yadav@gmail.com,10-09-2021
33,34,Abhishek Dutta,Bhubaneshwar,6543210912,abhishek.dutta@gmail.com,08-08-2022
7,8,Simran Kapoor,Chennai,7654823091,simran.kapoor@gmail.com,08-01-2023
17,18,Varun Shetty,Coimbatore,7654321209,varun.shetty@gmail.com,30-06-2019
38,39,Sheetal Pathak,Dehradun,6543210666,sheetal.pathak@gmail.com,20-11-2022
1,2,Priya Singh,Delhi,8765432109,priya.singh@yahoo.com,20-11-2021
29,30,Ishita Goswami,Faridabad,5432109832,ishita.goswami@gmail.com,11-07-2023
26,27,Pankaj Chauhan,Ghaziabad,8765432991,pankaj.chauhan@hotmail.com,23-09-2020
13,14,Akash Verma,Gurgaon,6543210876,akash.verma@yahoo.com,25-04-2022
32,33,Vikram Joshi,Gwalior,7654321901,vikram.joshi@gmail.com,21-02-2019
6,7,Vivek Malhotra,Hyderabad,8765943212,vivek.malhotra@yahoo.com,18-12-2020
18,19,Ankita Rao,Indore,6543210976,ankita.rao@gmail.com,12-09-2022
4,5,Neha Mehta,Jaipur,5432109876,neha.mehta@gmail.com,05-09-2019
23,24,Alok Tiwari,Jodhpur,6543210452,alok.tiwari@hotmail.com,10-10-2022
16,17,Meena Chawla,Kanpur,8765432980,meena.chawla@hotmail.com,20-10-2020
31,32,Shalini Ghosh,Kochi,8765432777,shalini.ghosh@yahoo.com,09-03-2020
3,4,Rakesh Kumar,Kolkata,6543210987,rakesh.kumar@rediffmail.com,25-03-2023
9,10,Deepika Jain,Lucknow,5432608769,deepika.jain@gmail.com,15-06-2022
34,35,Suman Bhatia,Ludhiana,5432109099,suman.bhatia@yahoo.com,30-03-2023
35,36,Tarun Chauhan,Madurai,9876543788,tarun.chauhan@gmail.com,13-05-2021
0,1,Rajesh Sharma,Mumbai,9876543210,rajesh.sharma@gmail.com,15-01-2022
22,23,Sunil Reddy,Mysuru,7654321342,sunil.reddy@gmail.com,07-08-2018
14,15,Sneha Dubey,Nagpur,5432109765,sneha.dubey@hotmail.com,02-05-2023
28,29,Ajay Thakur,Nashik,6543210998,ajay.thakur@yahoo.com,05-05-2022
20,21,Kavita Kaur,Noida,9876543232,kavita.kaur@gmail.com,19-02-2021
11,12,Pooja Roy,Patna,8765432190,pooja.roy@hotmail.com,28-11-2020
5,6,Anjali Desai,Pune,9876054321,anjali.desai@gmail.com,23-05-2021
25,26,Ritu Saxena,Raipur,9876543562,ritu.saxena@gmail.com,17-07-2021
30,31,Neeraj Shukla,Rajkot,9876543113,neeraj.shukla@gmail.com,15-01-2021
24,25,Kavya Bose,Ranchi,5432109751,kavya.bose@yahoo.com,14-06-2023
15,16,Rohit Rathore,Surat,9876543021,rohit.rathore@gmail.com,15-03-2021
12,13,Manish Sinha,Thane,7654321021,manish.sinha@gmail.com,16-07-2019
19,20,Arjun Iyer,Vadodara,5432109786,arjun.iyer@hotmail.com,18-02-2023
21,22,Santosh Pillai,Varanasi,8765432931,santosh.pillai@yahoo.com,21-12-2020
37,38,Kiran Rao,Vellore,7654321432,kiran.rao@gmail.com,18-06-2019

In [ ]:
order=order.sort_values('order_amount')
order

    order_id  customer_id  order_date  order_amount delivery_city payment_mode
2        103            3  21-12-2022          1200     Bengaluru         Cash
18       119           19  25-08-2022          1200        Indore          UPI
8        109            9  08-08-2022          1400     Ahmedabad  Credit Card
0        101            1  10-01-2023          1500        Mumbai  Credit Card
31       132           32  06-12-2021          1500         Kochi  Net Banking
15       116           16  23-06-2021          1600         Surat  Net Banking
37       138           38  17-08-2021          1600       Vellore   Debit Card
25       126           26  09-05-2021          1700        Raipur          UPI
26       127           27  18-03-2022          1800     Ghaziabad         Cash
13       114           14  05-07-2022          1800       Gurgaon          UPI
3        104            4  30-03-2023          1800       Kolkata          UPI
9        110           10  19-05-2023          1900       Lucknow         Cash
36       137           37  31-03-2023          1900          Agra  Credit Card
4        105            1  20-11-2022          2000        Mumbai  Net Banking
17       118           18  17-12-2022          2100    Coimbatore   Debit Card
29       130           30  22-05-2023          2100     Faridabad   Debit Card
7        108            8  22-06-2023          2200       Chennai          UPI
24       125           25  20-06-2023          2200        Ranchi  Credit Card
14       115           15  18-04-2023          2300        Nagpur  Credit Card
32       133           33  15-04-2023          2300       Gwalior  Credit Card
23       124           24  29-09-2022          2400       Jodhpur  Net Banking
11       112           12  28-02-2023          2400         Patna  Net Banking
39       140           40  25-06-2023          2500      Amritsar  Net Banking
1        102            2  14-02-2023          2500         Delhi   Debit Card
12       113           13  12-03-2023          2600         Thane   Debit Card
35       136           36  07-07-2022          2600       Madurai  Net Banking
33       134           34  29-06-2022          2700  Bhubaneshwar   Debit Card
6        107            7  15-10-2022          2700     Hyderabad   Debit Card
27       128           28  14-07-2023          2800    Aurangabad  Net Banking
16       117           17  01-02-2023          2900        Kanpur         Cash
22       123           23  13-10-2021          2900        Mysuru          UPI
10       111           11  21-09-2022          3000        Bhopal  Credit Card
34       135           35  05-02-2023          3000      Ludhiana          UPI
20       121           21  02-11-2022          3100         Noida   Debit Card
38       139           39  01-09-2022          3200      Dehradun          UPI
30       131           31  19-11-2022          3300        Rajkot          UPI
21       122           22  24-04-2023          3400      Varanasi  Credit Card
5        106            6  12-04-2023          3500          Pune  Credit Card
28       129           29  23-12-2022          3500        Nashik  Credit Card
19       120           20  09-01-2023          4000      Vadodara  Credit Card

In [10]:
customer_order=customer_order.loc[customer_order.groupby('customer_name')['order_amount'].idxmax()]
customer_order

,order_id,customer_id,order_date,order_amount,delivery_city,payment_mode,customer_name,city,phone_number,email,registration_date
27,128,28,14-07-2023,2800,Aurangabad,Net Banking,Aarti Deshmukh,Aurangabad,7654321071,aarti.deshmukh@gmail.com,12-11-2019
33,134,34,29-06-2022,2700,Bhubaneshwar,Debit Card,Abhishek Dutta,Bhubaneshwar,6543210912,abhishek.dutta@gmail.com,08-08-2022
28,129,29,23-12-2022,3500,Nashik,Credit Card,Ajay Thakur,Nashik,6543210998,ajay.thakur@yahoo.com,05-05-2022
13,114,14,05-07-2022,1800,Gurgaon,UPI,Akash Verma,Gurgaon,6543210876,akash.verma@yahoo.com,25-04-2022
23,124,24,29-09-2022,2400,Jodhpur,Net Banking,Alok Tiwari,Jodhpur,6543210452,alok.tiwari@hotmail.com,10-10-2022
2,103,3,21-12-2022,1200,Bengaluru,Cash,Amit Gupta,Bengaluru,7654321098,amit.gupta@hotmail.com,10-05-2020
5,106,6,12-04-2023,3500,Pune,Credit Card,Anjali Desai,Pune,9876054321,anjali.desai@gmail.com,23-05-2021
18,119,19,25-08-2022,1200,Indore,UPI,Ankita Rao,Indore,6543210976,ankita.rao@gmail.com,12-09-2022
19,120,20,09-01-2023,4000,Vadodara,Credit Card,Arjun Iyer,Vadodara,5432109786,arjun.iyer@hotmail.com,18-02-2023
9,110,10,19-05-2023,1900,Lucknow,Cash,Deepika Jain,Lucknow,5432608769,deepika.jain@gmail.com,15-06-2022
29,130,30,22-05-2023,2100,Faridabad,Debit Card,Ishita Goswami,Faridabad,5432109832,ishita.goswami@gmail.com,11-07-2023
8,109,9,08-08-2022,1400,Ahmedabad,Credit Card,Karan Patel,Ahmedabad,6543709875,karan.patel@hotmail.com,12-04-2018
20,121,21,02-11-2022,3100,Noida,Debit Card,Kavita Kaur,Noida,9876543232,kavita.kaur@gmail.com,19-02-2021
24,125,25,20-06-2023,2200,Ranchi,Credit Card,Kavya Bose,Ranchi,5432109751,kavya.bose@yahoo.com,14-06-2023
37,138,38,17-08-2021,1600,Vellore,Debit Card,Kiran Rao,Vellore,7654321432,kiran.rao@gmail.com,18-06-2019
12,113,13,12-03-2023,2600,Thane,Debit Card,Manish Sinha,Thane,7654321021,manish.sinha@gmail.com,16-07-2019
16,117,17,01-02-2023,2900,Kanpur,Cash,Meena Chawla,Kanpur,8765432980,meena.chawla@hotmail.com,20-10-2020
30,131,31,19-11-2022,3300,Rajkot,UPI,Neeraj Shukla,Rajkot,9876543113,neeraj.shukla@gmail.com,15-01-2021
26,127,27,18-03-2022,1800,Ghaziabad,Cash,Pankaj Chauhan,Ghaziabad,8765432991,pankaj.chauhan@hotmail.com,23-09-2020
11,112,12,28-02-2023,2400,Patna,Net Banking,Pooja Roy,Patna,8765432190,pooja.roy@hotmail.com,28-11-2020
36,137,37,31-03-2023,1900,Agra,Credit Card,Preeti Nair,Agra,8765432876,preeti.nair@gmail.com,01-12-2020
1,102,2,14-02-2023,2500,Delhi,Debit Card,Priya Singh,Delhi,8765432109,priya.singh@yahoo.com,20-11-2021
4,105,1,20-11-2022,2000,Mumbai,Net Banking,Rajesh Sharma,Mumbai,9876543210,rajesh.sharma@gmail.com,15-01-2022
3,104,4,30-03-2023,1800,Kolkata,UPI,Rakesh Kumar,Kolkata,6543210987,rakesh.kumar@rediffmail.com,25-03-2023
25,126,26,09-05-2021,1700,Raipur,UPI,Ritu Saxena,Raipur,9876543562,ritu.saxena@gmail.com,17-07-2021
39,140,40,25-06-2023,2500,Amritsar,Net Banking,Rohan Chopra,Amritsar,5432108777,rohan.chopra@gmail.com,27-01-2023
15,116,16,23-06-2021,1600,Surat,Net Banking,Rohit Rathore,Surat,9876543021,rohit.rathore@gmail.com,15-03-2021
21,122,22,24-04-2023,3400,Varanasi,Credit Card,Santosh Pillai,Varanasi,8765432931,santosh.pillai@yahoo.com,21-12-2020
31,132,32,06-12-2021,1500,Kochi,Net Banking,Shalini Ghosh,Kochi,8765432777,shalini.ghosh@yahoo.com,09-03-2020
38,139,39,01-09-2022,3200,Dehradun,UPI,Sheetal Pathak,Dehradun,6543210666,sheetal.pathak@gmail.com,20-11-2022
7,108,8,22-06-2023,2200,Chennai,UPI,Simran Kapoor,Chennai,7654823091,simran.kapoor@gmail.com,08-01-2023
14,115,15,18-04-2023,2300,Nagpur,Credit Card,Sneha Dubey,Nagpur,5432109765,sneha.dubey@hotmail.com,02-05-2023
34,135,35,05-02-2023,3000,Ludhiana,UPI,Suman Bhatia,Ludhiana,5432109099,suman.bhatia@yahoo.com,30-03-2023
22,123,23,13-10-2021,2900,Mysuru,UPI,Sunil Reddy,Mysuru,7654321342,sunil.reddy@gmail.com,07-08-2018
10,111,11,21-09-2022,3000,Bhopal,Credit Card,Suresh Yadav,Bhopal,9876543202,suresh.yadav@gmail.com,10-09-2021
35,136,36,07-07-2022,2600,Madurai,Net Banking,Tarun Chauhan,Madurai,9876543788,tarun.chauhan@gmail.com,13-05-2021
17,118,18,17-12-2022,2100,Coimbatore,Debit Card,Varun Shetty,Coimbatore,7654321209,varun.shetty@gmail.com,30-06-2019
32,133,33,15-04-2023,2300,Gwalior,Credit Card,Vikram Joshi,Gwalior,7654321901,vikram.joshi@gmail.com,21-02-2019
6,107,7,15-10-2022,2700,Hyderabad,Debit Card,Vivek Malhotra,Hyderabad,8765943212,vivek.malhotra@yahoo.com,18-12-2020

In [ ]:
customer_order[customer_order['order_amount']>3000].groupby('city').agg({
    "payment_mode":['cash']
})

KeyError: 'order_amount'

In [8]:
tps=order.loc[order.groupby('customer_id')['order_amount'].idxmax()]
tps

    order_id  customer_id  order_date  order_amount delivery_city payment_mode
4        105            1  20-11-2022          2000        Mumbai  Net Banking
1        102            2  14-02-2023          2500         Delhi   Debit Card
2        103            3  21-12-2022          1200     Bengaluru         Cash
3        104            4  30-03-2023          1800       Kolkata          UPI
5        106            6  12-04-2023          3500          Pune  Credit Card
6        107            7  15-10-2022          2700     Hyderabad   Debit Card
7        108            8  22-06-2023          2200       Chennai          UPI
8        109            9  08-08-2022          1400     Ahmedabad  Credit Card
9        110           10  19-05-2023          1900       Lucknow         Cash
10       111           11  21-09-2022          3000        Bhopal  Credit Card
11       112           12  28-02-2023          2400         Patna  Net Banking
12       113           13  12-03-2023          2600         Thane   Debit Card
13       114           14  05-07-2022          1800       Gurgaon          UPI
14       115           15  18-04-2023          2300        Nagpur  Credit Card
15       116           16  23-06-2021          1600         Surat  Net Banking
16       117           17  01-02-2023          2900        Kanpur         Cash
17       118           18  17-12-2022          2100    Coimbatore   Debit Card
18       119           19  25-08-2022          1200        Indore          UPI
19       120           20  09-01-2023          4000      Vadodara  Credit Card
20       121           21  02-11-2022          3100         Noida   Debit Card
21       122           22  24-04-2023          3400      Varanasi  Credit Card
22       123           23  13-10-2021          2900        Mysuru          UPI
23       124           24  29-09-2022          2400       Jodhpur  Net Banking
24       125           25  20-06-2023          2200        Ranchi  Credit Card
25       126           26  09-05-2021          1700        Raipur          UPI
26       127           27  18-03-2022          1800     Ghaziabad         Cash
27       128           28  14-07-2023          2800    Aurangabad  Net Banking
28       129           29  23-12-2022          3500        Nashik  Credit Card
29       130           30  22-05-2023          2100     Faridabad   Debit Card
30       131           31  19-11-2022          3300        Rajkot          UPI
31       132           32  06-12-2021          1500         Kochi  Net Banking
32       133           33  15-04-2023          2300       Gwalior  Credit Card
33       134           34  29-06-2022          2700  Bhubaneshwar   Debit Card
34       135           35  05-02-2023          3000      Ludhiana          UPI
35       136           36  07-07-2022          2600       Madurai  Net Banking
36       137           37  31-03-2023          1900          Agra  Credit Card
37       138           38  17-08-2021          1600       Vellore   Debit Card
38       139           39  01-09-2022          3200      Dehradun          UPI
39       140           40  25-06-2023          2500      Amritsar  Net Banking

In [19]:
g=customer_order.groupby('payment_mode')
g

In [17]:
for payment_mode,customer_order in g:
    print(payment_mode)
    print(customer_order)

Cash
    order_id  customer_id  order_date  order_amount delivery_city  \
2        103            3  21-12-2022          1200     Bengaluru
9        110           10  19-05-2023          1900       Lucknow
16       117           17  01-02-2023          2900        Kanpur
26       127           27  18-03-2022          1800     Ghaziabad

   payment_mode   customer_name       city  phone_number  \
2          Cash      Amit Gupta  Bengaluru    7654321098
9          Cash    Deepika Jain    Lucknow    5432608769
16         Cash    Meena Chawla     Kanpur    8765432980
26         Cash  Pankaj Chauhan  Ghaziabad    8765432991

                         email registration_date
2       amit.gupta@hotmail.com        10-05-2020
9       deepika.jain@gmail.com        15-06-2022
16    meena.chawla@hotmail.com        20-10-2020
26  pankaj.chauhan@hotmail.com        23-09-2020
Credit Card
    order_id  customer_id  order_date  order_amount delivery_city  \
0        101            1  10-01-2023          1500        Mumbai
5        106            6  12-04-2023          3500          Pune
8        109            9  08-08-2022          1400     Ahmedabad
10       111           11  21-09-2022          3000        Bhopal
14       115           15  18-04-2023          2300        Nagpur
19       120           20  09-01-2023          4000      Vadodara
21       122           22  24-04-2023          3400      Varanasi
24       125           25  20-06-2023          2200        Ranchi
28       129           29  23-12-2022          3500        Nashik
32       133           33  15-04-2023          2300       Gwalior
36       137           37  31-03-2023          1900          Agra

   payment_mode   customer_name       city  phone_number  \
0   Credit Card   Rajesh Sharma     Mumbai    9876543210
5   Credit Card    Anjali Desai       Pune    9876054321
8   Credit Card     Karan Patel  Ahmedabad    6543709875
10  Credit Card    Suresh Yadav     Bhopal    9876543202
14  Credit Card     Sneha Dubey     Nagpur    5432109765
19  Credit Card      Arjun Iyer   Vadodara    5432109786
21  Credit Card  Santosh Pillai   Varanasi    8765432931
24  Credit Card      Kavya Bose     Ranchi    5432109751
28  Credit Card     Ajay Thakur     Nashik    6543210998
32  Credit Card    Vikram Joshi    Gwalior    7654321901
36  Credit Card     Preeti Nair       Agra    8765432876

                       email registration_date
0    rajesh.sharma@gmail.com        15-01-2022
5     anjali.desai@gmail.com        23-05-2021
8    karan.patel@hotmail.com        12-04-2018
10    suresh.yadav@gmail.com        10-09-2021
14   sneha.dubey@hotmail.com        02-05-2023
19    arjun.iyer@hotmail.com        18-02-2023
21  santosh.pillai@yahoo.com        21-12-2020
24      kavya.bose@yahoo.com        14-06-2023
28     ajay.thakur@yahoo.com        05-05-2022
32    vikram.joshi@gmail.com        21-02-2019
36     preeti.nair@gmail.com        01-12-2020
Debit Card
    order_id  customer_id  order_date  order_amount delivery_city  \
1        102            2  14-02-2023          2500         Delhi
6        107            7  15-10-2022          2700     Hyderabad
12       113           13  12-03-2023          2600         Thane
17       118           18  17-12-2022          2100    Coimbatore
20       121           21  02-11-2022          3100         Noida
29       130           30  22-05-2023          2100     Faridabad
33       134           34  29-06-2022          2700  Bhubaneshwar
37       138           38  17-08-2021          1600       Vellore

   payment_mode   customer_name          city  phone_number  \
1    Debit Card     Priya Singh         Delhi    8765432109
6    Debit Card  Vivek Malhotra     Hyderabad    8765943212
12   Debit Card    Manish Sinha         Thane    7654321021
17   Debit Card    Varun Shetty    Coimbatore    7654321209
20   Debit Card     Kavita Kaur         Noida    9876543232
29   Debit Card  Ishita Goswami     Faridabad    5432109832
33   Debit Card  Abhishek Dutta  Bhubaneshwar    6543210912
37   Debit Card       Kiran Rao       Vellore    7654321432

                       email registration_date
1      priya.singh@yahoo.com        20-11-2021
6   vivek.malhotra@yahoo.com        18-12-2020
12    manish.sinha@gmail.com        16-07-2019
17    varun.shetty@gmail.com        30-06-2019
20     kavita.kaur@gmail.com        19-02-2021
29  ishita.goswami@gmail.com        11-07-2023
33  abhishek.dutta@gmail.com        08-08-2022
37       kiran.rao@gmail.com        18-06-2019
Net Banking
    order_id  customer_id  order_date  order_amount delivery_city  \
4        105            1  20-11-2022          2000        Mumbai
11       112           12  28-02-2023          2400         Patna
15       116           16  23-06-2021          1600         Surat
23       124           24  29-09-2022          2400       Jodhpur
27       128           28  14-07-2023          2800    Aurangabad
31       132           32  06-12-2021          1500         Kochi
35       136           36  07-07-2022          2600       Madurai
39       140           40  25-06-2023          2500      Amritsar

   payment_mode   customer_name        city  phone_number  \
4   Net Banking   Rajesh Sharma      Mumbai    9876543210
11  Net Banking       Pooja Roy       Patna    8765432190
15  Net Banking   Rohit Rathore       Surat    9876543021
23  Net Banking     Alok Tiwari     Jodhpur    6543210452
27  Net Banking  Aarti Deshmukh  Aurangabad    7654321071
31  Net Banking   Shalini Ghosh       Kochi    8765432777
35  Net Banking   Tarun Chauhan     Madurai    9876543788
39  Net Banking    Rohan Chopra    Amritsar    5432108777

                       email registration_date
4    rajesh.sharma@gmail.com        15-01-2022
11     pooja.roy@hotmail.com        28-11-2020
15   rohit.rathore@gmail.com        15-03-2021
23   alok.tiwari@hotmail.com        10-10-2022
27  aarti.deshmukh@gmail.com        12-11-2019
31   shalini.ghosh@yahoo.com        09-03-2020
35   tarun.chauhan@gmail.com        13-05-2021
39    rohan.chopra@gmail.com        27-01-2023
UPI
    order_id  customer_id  order_date  order_amount delivery_city  \
3        104            4  30-03-2023          1800       Kolkata
7        108            8  22-06-2023          2200       Chennai
13       114           14  05-07-2022          1800       Gurgaon
18       119           19  25-08-2022          1200        Indore
22       123           23  13-10-2021          2900        Mysuru
25       126           26  09-05-2021          1700        Raipur
30       131           31  19-11-2022          3300        Rajkot
34       135           35  05-02-2023          3000      Ludhiana
38       139           39  01-09-2022          3200      Dehradun

   payment_mode   customer_name      city  phone_number  \
3           UPI    Rakesh Kumar   Kolkata    6543210987
7           UPI   Simran Kapoor   Chennai    7654823091
13          UPI     Akash Verma   Gurgaon    6543210876
18          UPI      Ankita Rao    Indore    6543210976
22          UPI     Sunil Reddy    Mysuru    7654321342
25          UPI     Ritu Saxena    Raipur    9876543562
30          UPI   Neeraj Shukla    Rajkot    9876543113
34          UPI    Suman Bhatia  Ludhiana    5432109099
38          UPI  Sheetal Pathak  Dehradun    6543210666

                          email registration_date
3   rakesh.kumar@rediffmail.com        25-03-2023
7       simran.kapoor@gmail.com        08-01-2023
13        akash.verma@yahoo.com        25-04-2022
18         ankita.rao@gmail.com        12-09-2022
22        sunil.reddy@gmail.com        07-08-2018
25        ritu.saxena@gmail.com        17-07-2021
30      neeraj.shukla@gmail.com        15-01-2021
34       suman.bhatia@yahoo.com        30-03-2023
38     sheetal.pathak@gmail.com        20-11-2022

In [31]:
customer_order.groupby('customer_id').max()

,order_id,order_date,order_amount,delivery_city,payment_mode,customer_name,city,phone_number,email,registration_date
customer_id,,,,,,,,,,
4,104,30-03-2023,1800,Kolkata,UPI,Rakesh Kumar,Kolkata,6543210987,rakesh.kumar@rediffmail.com,25-03-2023
8,108,22-06-2023,2200,Chennai,UPI,Simran Kapoor,Chennai,7654823091,simran.kapoor@gmail.com,08-01-2023
14,114,05-07-2022,1800,Gurgaon,UPI,Akash Verma,Gurgaon,6543210876,akash.verma@yahoo.com,25-04-2022
19,119,25-08-2022,1200,Indore,UPI,Ankita Rao,Indore,6543210976,ankita.rao@gmail.com,12-09-2022
23,123,13-10-2021,2900,Mysuru,UPI,Sunil Reddy,Mysuru,7654321342,sunil.reddy@gmail.com,07-08-2018
26,126,09-05-2021,1700,Raipur,UPI,Ritu Saxena,Raipur,9876543562,ritu.saxena@gmail.com,17-07-2021
31,131,19-11-2022,3300,Rajkot,UPI,Neeraj Shukla,Rajkot,9876543113,neeraj.shukla@gmail.com,15-01-2021
35,135,05-02-2023,3000,Ludhiana,UPI,Suman Bhatia,Ludhiana,5432109099,suman.bhatia@yahoo.com,30-03-2023
39,139,01-09-2022,3200,Dehradun,UPI,Sheetal Pathak,Dehradun,6543210666,sheetal.pathak@gmail.com,20-11-2022

In [29]:
customer_order.groupby('customer_name').min()

,order_id,customer_id,order_date,order_amount,delivery_city,payment_mode,city,phone_number,email,registration_date
customer_name,,,,,,,,,,
Akash Verma,114,14,05-07-2022,1800,Gurgaon,UPI,Gurgaon,6543210876,akash.verma@yahoo.com,25-04-2022
Ankita Rao,119,19,25-08-2022,1200,Indore,UPI,Indore,6543210976,ankita.rao@gmail.com,12-09-2022
Neeraj Shukla,131,31,19-11-2022,3300,Rajkot,UPI,Rajkot,9876543113,neeraj.shukla@gmail.com,15-01-2021
Rakesh Kumar,104,4,30-03-2023,1800,Kolkata,UPI,Kolkata,6543210987,rakesh.kumar@rediffmail.com,25-03-2023
Ritu Saxena,126,26,09-05-2021,1700,Raipur,UPI,Raipur,9876543562,ritu.saxena@gmail.com,17-07-2021
Sheetal Pathak,139,39,01-09-2022,3200,Dehradun,UPI,Dehradun,6543210666,sheetal.pathak@gmail.com,20-11-2022
Simran Kapoor,108,8,22-06-2023,2200,Chennai,UPI,Chennai,7654823091,simran.kapoor@gmail.com,08-01-2023
Suman Bhatia,135,35,05-02-2023,3000,Ludhiana,UPI,Ludhiana,5432109099,suman.bhatia@yahoo.com,30-03-2023
Sunil Reddy,123,23,13-10-2021,2900,Mysuru,UPI,Mysuru,7654321342,sunil.reddy@gmail.com,07-08-2018

In [34]:
customer_order.groupby('customer_name').agg({
    'order_amount':['min','max','count','sum']
})

               order_amount
                        min   max count   sum
customer_name
Akash Verma            1800  1800     1  1800
Ankita Rao             1200  1200     1  1200
Neeraj Shukla          3300  3300     1  3300
Rakesh Kumar           1800  1800     1  1800
Ritu Saxena            1700  1700     1  1700
Sheetal Pathak         3200  3200     1  3200
Simran Kapoor          2200  2200     1  2200
Suman Bhatia           3000  3000     1  3000
Sunil Reddy            2900  2900     1  2900

In [39]:
customer_order.groupby(['city','customer_name']).agg({
    'registration_date':['min']
})

                        registration_date
                                      min
city     customer_name
Chennai  Simran Kapoor         08-01-2023
Dehradun Sheetal Pathak        20-11-2022
Gurgaon  Akash Verma           25-04-2022
Indore   Ankita Rao            12-09-2022
Kolkata  Rakesh Kumar          25-03-2023
Ludhiana Suman Bhatia          30-03-2023
Mysuru   Sunil Reddy           07-08-2018
Raipur   Ritu Saxena           17-07-2021
Rajkot   Neeraj Shukla         15-01-2021

In [40]:
customer_order.groupby('customer_id').describe()

            order_id                                                \
               count   mean std    min    25%    50%    75%    max
customer_id
4                1.0  104.0 NaN  104.0  104.0  104.0  104.0  104.0
8                1.0  108.0 NaN  108.0  108.0  108.0  108.0  108.0
14               1.0  114.0 NaN  114.0  114.0  114.0  114.0  114.0
19               1.0  119.0 NaN  119.0  119.0  119.0  119.0  119.0
23               1.0  123.0 NaN  123.0  123.0  123.0  123.0  123.0
26               1.0  126.0 NaN  126.0  126.0  126.0  126.0  126.0
31               1.0  131.0 NaN  131.0  131.0  131.0  131.0  131.0
35               1.0  135.0 NaN  135.0  135.0  135.0  135.0  135.0
39               1.0  139.0 NaN  139.0  139.0  139.0  139.0  139.0

            order_amount          ...                 phone_number  \
                   count    mean  ...     75%     max        count
customer_id                       ...
4                    1.0  1800.0  ...  1800.0  1800.0          1.0
8                    1.0  2200.0  ...  2200.0  2200.0          1.0
14                   1.0  1800.0  ...  1800.0  1800.0          1.0
19                   1.0  1200.0  ...  1200.0  1200.0          1.0
23                   1.0  2900.0  ...  2900.0  2900.0          1.0
26                   1.0  1700.0  ...  1700.0  1700.0          1.0
31                   1.0  3300.0  ...  3300.0  3300.0          1.0
35                   1.0  3000.0  ...  3000.0  3000.0          1.0
39                   1.0  3200.0  ...  3200.0  3200.0          1.0

                                                                         \
                     mean std           min           25%           50%
customer_id
4            6.543211e+09 NaN  6.543211e+09  6.543211e+09  6.543211e+09
8            7.654823e+09 NaN  7.654823e+09  7.654823e+09  7.654823e+09
14           6.543211e+09 NaN  6.543211e+09  6.543211e+09  6.543211e+09
19           6.543211e+09 NaN  6.543211e+09  6.543211e+09  6.543211e+09
23           7.654321e+09 NaN  7.654321e+09  7.654321e+09  7.654321e+09
26           9.876544e+09 NaN  9.876544e+09  9.876544e+09  9.876544e+09
31           9.876543e+09 NaN  9.876543e+09  9.876543e+09  9.876543e+09
35           5.432109e+09 NaN  5.432109e+09  5.432109e+09  5.432109e+09
39           6.543211e+09 NaN  6.543211e+09  6.543211e+09  6.543211e+09


                      75%           max
customer_id
4            6.543211e+09  6.543211e+09
8            7.654823e+09  7.654823e+09
14           6.543211e+09  6.543211e+09
19           6.543211e+09  6.543211e+09
23           7.654321e+09  7.654321e+09
26           9.876544e+09  9.876544e+09
31           9.876543e+09  9.876543e+09
35           5.432109e+09  5.432109e+09
39           6.543211e+09  6.543211e+09

[9 rows x 24 columns]

In [48]:
group=customer_order.groupby(['customer_id','delivery_city'])
sum=group['order_amount'].sum
print(sum)

customer_order

<bound method GroupBy.sum of <pandas.core.groupby.generic.SeriesGroupBy object at 0x000002C8FBD14050>>

,order_id,customer_id,order_date,order_amount,delivery_city,payment_mode,customer_name,city,phone_number,email,registration_date
3,104,4,30-03-2023,1800,Kolkata,UPI,Rakesh Kumar,Kolkata,6543210987,rakesh.kumar@rediffmail.com,25-03-2023
7,108,8,22-06-2023,2200,Chennai,UPI,Simran Kapoor,Chennai,7654823091,simran.kapoor@gmail.com,08-01-2023
13,114,14,05-07-2022,1800,Gurgaon,UPI,Akash Verma,Gurgaon,6543210876,akash.verma@yahoo.com,25-04-2022
18,119,19,25-08-2022,1200,Indore,UPI,Ankita Rao,Indore,6543210976,ankita.rao@gmail.com,12-09-2022
22,123,23,13-10-2021,2900,Mysuru,UPI,Sunil Reddy,Mysuru,7654321342,sunil.reddy@gmail.com,07-08-2018
25,126,26,09-05-2021,1700,Raipur,UPI,Ritu Saxena,Raipur,9876543562,ritu.saxena@gmail.com,17-07-2021
30,131,31,19-11-2022,3300,Rajkot,UPI,Neeraj Shukla,Rajkot,9876543113,neeraj.shukla@gmail.com,15-01-2021
34,135,35,05-02-2023,3000,Ludhiana,UPI,Suman Bhatia,Ludhiana,5432109099,suman.bhatia@yahoo.com,30-03-2023
38,139,39,01-09-2022,3200,Dehradun,UPI,Sheetal Pathak,Dehradun,6543210666,sheetal.pathak@gmail.com,20-11-2022

In [51]:
# i want customer from delivery_city mumbai
customer_order.groupby('customer_id').agg({
    'delivery_city':['Mumbai']
})

AttributeError: 'SeriesGroupBy' object has no attribute 'Mumbai'